<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editarPassword</title>
</head>
<body>
    {% extends 'mi_app/index.html' %}
    {% block content %}
    <div class="d-flex-column justify-content-center p-5" style="color: #fffff0;">
        <h1>Contraseña</h1>
        <form action="" method="POST">
            {% csrf_token %}
                {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Editar</button>
            </form>
</div>
    {% endblock %}
</body>
</html>