<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfil</title>
</head>
<body>
    {% extends 'mi_app/index.html' %}
    {% load static %}
    {% block content %}
    <section class="d-flex justify-content-center">
        <div class="d-flex-column justify-content-center p-5 " style="color: #fffff0;;">
            <img style="width: 200px; height: 200px; border-radius: 50%; padding-bottom: 20px; " src="{{ request.user.imagen.imagen.url}}" alt="logo">
            <h1>{{ user.username }}</h1>
            <p>Email: {{ user.email }}</p>
            <p>Nombre: {{ user.first_name }}</p>
            <p>Apellido: {{ user.last_name }}</p>
        {% if user.is_superuser %}
            <p>Soy Administrador</p>
        {% else %}
            <p>No soy Administrador</p>
        {% endif %}
        </div>
    </section>
    {% endblock %}
</body>
</html>