<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
</head>
<body>
    {% extends 'mi_app/index.html' %}
    {% load static %}

    {% block content %}
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column">
            <p class="fs-5 fw-bold">{{ msg_register }}</p>

            <form action="" method="POST" style="color: #fffff0;">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Iniciar Sesion">
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>